//Tablet View
@media screen and (max-width: 1040px) {

html,
body
main {
  display: flex;
  flex-direction: column;
  font-family: 'Dela Gothic One', cursive;
  font-family: 'Lato', sans-serif;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

article {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  border: none;
}


header {
  background-color: #DD6B6B;
  border: none;
  display: flex;
  height: 175px;
  width: 100%;
}

nav {
  display: flex;
  height: 175px;
  width: 100%;
}

p {
  display: flex;
  flex-direction: column;
  margin: 3px;
}

h1 {
  display: flex;
  flex-direction: column;
  margin: 3px;
}

section {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.room-search-form {
  align-items: center;
  align-self: center;
  display: flex;
  background-color: gray;
  height: 200px;
  width: 100%;

}

.logo-image {
  height: 100px;
  margin-left: 30px;
  margin-top: 40px;
  width: 100px;
}


.reservation-date {
  color: black;
  font-size: 16px;
  padding-left: 10px;
  padding-top: 10px;
}

.reservation-label {
  color: black;
  font-size: 10px;
  margin-top: 0px;
  padding-bottom: 15px;
  padding-left: 10px;
}

.detail-label {
  color: 100px;
  font-size: 12px;
  margin-bottom: 0px;
  padding-left: 10px;
  padding-top: 10px;
}


.detail-value {
  color: black;
  font-size: 16px;
  margin-top: 0px;
  padding-left: 10px;
}

.room-label,
.room-value {
  align-self: flex-end;
  color: black;
  flex-direction: column;
  margin-bottom: 0px;
  margin-right: 10px;
}

.room-value {
  font-size: 30px;
  margin-bottom: 30px;
  margin-top: 0px;
}

.reservation-background {
  align-items: flex-start;
  background-color: white;
  color: grey;
  flex-wrap: wrap;
  height: 400px;
  width: 100%;
  overflow-x: scroll;
}


.card {
  align-self: center;
  background-color: #F2F2F3;
  color: grey;
  display: flex;
  filter: drop-shadow(1px 1px 1px gray);
  margin: 5px;
  width: 250px;
}

.card-selected {
  align-self: center;
  background-color: red;
  color: black;
  display: flex;
  filter: drop-shadow(1px 1px 1px gray);
  margin: 5px;
  width: 250px;
}


.card:hover {
  align-self: center;
  background-color: #F2F2F3;
  color: grey;
  display: flex;
  filter: drop-shadow(1px 1px 1px gray);
  margin: 5px;
  opacity: 0.9;
  width: 250px;
}

.card-header {
  align-self: flex-start;
  background-color: #FC0359;
  border-color: red;
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 250px;
}

.cost-label {
  align-self: center;
  background-color: white;
  color: grey;
  font-size: 12px;
  height: 40px;
  justify-content: flex-start;
  width: 225px;
}


.nav-text {
  align-self: flex-end;
  background-color: inherit;
  color: white;
  font-size: 12px;
  padding-bottom: 20px;
  margin: 10px;
  width: 25px;
}

.nav-text-all-time {
  align-self: flex-end;
  background-color: inherit;
  color: black;
  font-size: 12px;
  margin: 10px;
  padding-bottom: 20px;
  width: 25px;
}

.reservation-history-label {
  color: black;
  font-size: 22px;
  padding-top: 20px;
}

.menu-button {
  align-self: flex-end;
  height: 0px;
  padding-bottom: 20px;
  width: 0px;
}


.cost-value {
  color: black;
  padding-left: 3px;
  padding-top: 3px;
}

.display-error {
  color: red;
}

}
